# Puerto del servidor
PORT=8080

# Cadenas de conexión
MONGODB_URI=mongodb://127.0.0.1:27017/ecommerce
MONGO_URL=mongodb://127.0.0.1:27017/ecommerce
SESSION_SECRET=Ingresa_Un_Secreto_Aqui

# Credenciales de Email
EMAIL_USER=ingresa_tu_email@gmail.com
EMAIL_PASS=ingresa_tu_password_de_aplicacion